<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVAbQ_NSpKo7bqsy_vt9NbjydhX273niw</string>
	<key>GCM_SENDER_ID</key>
	<string>185407015780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelbressiani.PrimeiroAppMichaelLoginBF</string>
	<key>PROJECT_ID</key>
	<string>primeiroappmichaelloginbf</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiroappmichaelloginbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185407015780:ios:5ba17b403b68ee45ba4871</string>
</dict>
</plist>